.blog-title {
  font-size: 4rem;
  color: #c38633;
  margin-bottom: 1rem;
}

.blog-date {
  color: #c38633;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .blog-title {
    font-size: 2rem;
  }
}
