.cv-back {
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0.5rem;
  display: flex;
  &.backButtonContainer {
    padding: 0.2rem 0.5rem;
  }
}

.back-button {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.card {
  padding: 1rem;
}

.left-side {
  background-color: #ffffff;
  width: 30%;
  margin-right: 0.5rem;
}

.right-side {
  background-color: #ffffff;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .cv-back {
    background-color: #fff;
  }
  .container {
    display: block;
  }
  .left-side {
    margin-right: 0rem;
  }
  .left-side,
  .right-side {
    width: auto;
  }
}
