.cvBack {
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0.5rem;
  display: flex;
  &.backButtonContainer {
    padding: 0.2rem 0.5rem;
  }
}

.backButton {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.card {
  padding: 1rem;
}

.leftSide {
  background-color: #ffffff;
  width: 30%;
  margin-right: 0.5rem;
}

.rightSide {
  background-color: #ffffff;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .cvBack {
    background-color: #fff;
  }
  .container {
    display: block;
  }
  .leftSide {
    margin-right: 0rem;
  }
  .leftSide,
  .rightSide {
    width: auto;
  }
}
