.header {
  padding: 1rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #000000;
  font-size: 2rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #333333;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  &.site {
    font-weight: bold;
  }
}

.nav-item:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  .header {
    display: block;
  }
}